<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>19/08/22 07:51:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionsTest.TC_01()[pri:1, instance:com.org.actions.ActionsTest@28d25987]">TC_01</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/08/22 07:51:39</td>   <td>10548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActionsTest.closeBrowser()[pri:0, instance:com.org.actions.ActionsTest@28d25987]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/08/22 07:51:20</td>   <td>-8448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActionsTest.openBrowser()[pri:0, instance:com.org.actions.ActionsTest@28d25987]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
