<h2>Reporter output</h2><table><tr><td>Test_01 Execution Started..</td></tr>
<tr><td>Hovered on Holidays Tab.</td></tr>
<tr><td>Hovered on Special Trains Tab.</td></tr>
<tr><td>Clicked on Maharaja Express</td></tr>
<tr><td>Driver control switched to child tab</td></tr>
<tr><td>Clicked on Book Now button</td></tr>
</table>